.add-roll-form {
  display: flex;
  gap: 10px;
  margin: 0.5rem 0;
  justify-content: center;
}

.add-roll-input {
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid #333;
  outline: none;
  width: 10px;
}

.add-roll-button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #00e6a8;
  color: #1c1c1f;
}

.add-roll-button:disabled {
  background: #d0d0d0;
  cursor: not-allowed;
}
