.players-container {
  margin: 2rem auto;
  padding: 1.5rem;
}

.player-list {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-item {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
}

.player-item:hover {
  background: rgba(34, 0, 255, 0.1);
}

.player-item.selected {
  border-left-color: rgba(34, 0, 255, 0.1);
  background: rgba(34, 0, 255, 0.1);
}
